<h1 class="text-center text-white bg-info rounded mt-1">This is <%= "#{@user.name}" %> personal page</h1>
 
<div class="row">
	<% Event.upcoming.each do |event| %>
      <div class='event'>
		<h3 class='text-sucess text-center'><%= link_to event.title, event_path(event)%></h3>
          <div class="text-center breadcrumb">
            <p>Description: <%= event.description%></p><br>
            <p>Event location: <%= event.location%></p><br>
            <p>Event date: <%= event.date.strftime('%Y/%m/%d')%></p>
          </div>
        </div>  
    <% end %>
</div>
<hr>
<div class="row">
	<div class="col-md-6">
		upcoming
	</div>
	<div class="col-md-6">
		past
	</div>
</div>  
	<hr>



