<h1>this is User's show template</h1>
<%= @user.name %><br>
<%= @user.email %><br>


<% if @user.events.any? %>
		<h3>Submitted (<%= @user.events.count %>) events</h3>
		<ul class="media-list">
			<%= render @events %>
		</ul>
		<%= will_paginate @events %>
	<% else %>
		<h3>No Events Found</h3>
<% end %>
  
	<hr>

<% if @user.events.any? %>
  <% @user.events.each do |attendee| %>
      <span class="attendee">
          <%= attendee.user_id %>
      </span> <br/>
  <% end %>
<% else %>
  No attendees
<% end %><br/>
