<h1>This is <%= "#{@user.name}" %> personal page</h1>


<hr>
<% if @user.events.any? %>
		<h3>Attended (<%= @user.events.count %>) events</h3>
		<ul class="media-list">
			<%= render @events %>
		</ul>
		<%= will_paginate @events %>
	<% else %>
		<h3>No Events Found</h3>
<% end %>
  
	<hr>

<% if @created.any? %>
<h3>Created events</h3>
	<% @created.select {|e| e.user_id == @user.id}.each do |event| %>
		<ul class="media-list">
			<%= render event %>
		</ul>

	<% end %>
<% else %>
  <h3>No events created</h3>
<% end %><br/>