    <% if @upcoming.any? %>
        <ul>
            <% @upcoming.each do |event| %>
            <div class="breadcrumb">
                <h3><%= event.title %></h3>
                Location: <%= event.location %><br>
                Date: <%= event.date.to_date %><br>
                Description: <%= event.description %>
                <small class="createdby" >Created by: <%= event.creator.name %></small>
            </div>
                <% end %>
        </ul>
    <% else %>
        <h4 class="breadcrumb">No upcoming events</h4>    
    <% end %>