<li class="media">
  <div class="media-left">
    <!--<a href="#"><%#= link_to gravatar_for(event.user_id, size: 30), event.user_id %></a> %> -->
  </div>
  <div class="media-body">
    <h4 class="media-heading"><%= link_to event.title, event_path(event) %></h4>
      <p>
        Location:
        <%= event.location %>
        Date: 
        <%= event.date %>
      </p>
      <p>
      	Published On: <%= event.created_at.strftime('%b %d, %Y') %>
        <% if signed_in? %>
      	By: <%= link_to event.user_id, user_path(event.user_id) %><br>
        <% else %>
        By: <%= event.user_id.username %><br>
        <% end %>
        
      </p>
      
  </div>
</li>