<h2>Index page</h2>

<% if @events.any? %>
<ul>
    <% @events.each do |e| %>
    <li>
        <%= e.title %>
        <%= e.location %>
        <%= e.date %>
    </li>
    <% end %>
</ul>
<% end %>

<hr>

<h3>Upcoming Events</h3>
<% if @upcoming.any? %>
    <ul>
        <%= render @upcoming %>

    </ul>
<% end %>

<hr>
<h3>Past Events</h3>
<% if @past.any? %>
    <ul>
        <%= render @past %>

    </ul>
<% end %>