<div class="row">
  <div class="col-md-6 text-center jumbotron">
    <h2 class="text-success">Events show page</h2>
      Event date: <%= @event.date %><br>
      Event title: <%= @event.title %><br>
      Event location: <%= @event.location %><br>
      Event description: <%= @event.description %><br>
      Creator of Event: <%= @creator.name %>
  </div>
  <div class="col-md-6">
      <%= render 'attendees' %>
  </div>
</div>

<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <%= render 'past_events' %>
  </div>
  <div class="col-md-3"></div>
</div>



